.mainWrapper {
  --borderWidth: 1px;
}

.wrapper {
  display: flex;
  gap: 15px;
  position: relative;
}

.header {
  width: 100%;

  padding: 30px;
  border: var(--borderWidth) solid var(--border);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
  width: 100%;
  background: var(--bg);
}
.heading {
  color: var(--color);
  text-align: center;

  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  max-width: 220px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}
.row1,
.row2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;

  border: var(--borderWidth) solid var(--border);
  border-radius: 10px;
  gap: 15px;
}
.left {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
}
.right {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
}
.viewPointContainer {
  display: flex;
  align-items: center;
  padding: 30px;
  position: relative;
  background: var(--bg);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-right: var(--borderWidth) solid var(--border);
}
.viewPointContainer .circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(calc(-50% - 0.5px), -50%);
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: var(--bg);
  border: var(--border);
}

.right .viewPointContainer {
  border: 0;
  border-left: var(--borderWidth) solid var(--border);

  justify-content: flex-end;
  border-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.right .viewPointContainer .circle {
  right: 0;
  left: auto;

  transform: translate(50%, -50%);
}

.viewPoint {
  color: var(--color);
  text-align: left;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */

  max-width: 120px;
}
.right .viewPoint {
  text-align: right;
}
.infoContainer {
  position: relative;
  padding: 30px;
  min-height: 170px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  border-right: var(--borderWidth) solid var(--border);
  background: var(--bg);
}
.right .infoContainer {
  border: 0;
  border-left: var(--borderWidth) solid var(--border);
}

.row1 .infoContainer {
  padding-bottom: 55px;
}
.row2 .infoContainer {
  padding-top: 55px;
}

.info {
  color: var(--color);
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  max-width: 213px;
  margin: 0 auto;
}

.approachContainer {
  border: var(--borderWidth) solid var(--border);
  border-top: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 30px;
  background: var(--bg);
}
.approachWrapper {
  background: var(--bg);
  padding: 18px;
  min-height: 85%;
  max-height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: 10%;
}
.curve {
  width: 30px;
  height: 30px;

  flex-shrink: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -40%) rotate(45deg);
  background: var(--bg);
}

.approachContainer .label,
.approachContainer .info {
  color: var(--color);
  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  max-width: 100%;
  max-width: 213px;
}

.centerContent {
  width: 145px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
  border: var(--border);
  background: var(--bg);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.centerContent .title {
  color: var(--color);

  text-align: center;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 125% */
}
